td{
    text-align: center;
}

button{
    background-color: #000;
    color: #fff;
    padding: 1rem;
    border-radius: .5rem;
    border: none;
    cursor: pointer;
    width: 5rem;
}

button:hover{
    font-weight: 800;
}

.delete{
    background-color: rgb(199, 0, 0);
}